<div id="jobs" class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center grey-text">Jobs</h1>
      <div class="row center">
        <h5 class="header col s12 light">Take a look at my most recent work</h5>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/app-tarjetas.jpg" style="max-width: 100%; height: auto;">
            </div>
            <div class="card-content">
              <h5>Itaú Tarjetas</h3>
                <h6>Android Tech Leader</h6>
                <p>This was a very complex project, as the goal was to delivery a financial app, involving people from 4
                  countries, 3 agile squads,
                  2 consulting firms and a lot of requirements.</p>
            </div>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/app-rchlo.jpg" style="max-width: 100%; height: auto;">
  
            </div>
            <div class="card-content">
              <h5>RCHLO Cards</h3>
                <h6>Android Tech Leader</h6>
                <p>Winner of “Gestão Private Label” at eFinance Conference 2017, and "Visa Award" in 2016 and 2017. RCHLO
                  and our dev team did a great job. <a href="http://www.midwayfinanceira.com.br/a-midway/premios">See
                    details.</a></p>
            </div>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/app-avon.png" style="max-width: 100%; height: auto;">
            </div>
            <div class="card-content">
              <h5>Avon Contact Center</h3>
                <h6>Android Tech Leader</h6>
                <p>This app is very recent and since day one is bringing value to the company, and helping customers to
                  fulfill their needs in the fastest and most comfortable way. </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/app-abc.png" style="max-width: 100%; height: auto;">
            </div>
            <div class="card-content">
              <h5>ABC Investments</h3>
                <h6>Android Tech Leader</h6>
                <p>The challenge in this case was to develop a very large scope in a short time and with few resources.
                  Implementing Agile and with team extra effort it was delivered successfully.</p>
            </div>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/app-mobk.png" style="max-width: 100%; height: auto;">
  
            </div>
            <div class="card-content">
              <h5>Original Mobile Banking</h3>
                <h6>Support analyst</h6>
                <p>Original was the first bank to have its digital account opening in Brazil, besides this, I also
                  developed features of the Mobile Banking App. </p>
            </div>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/app-vizin.png" style="max-width: 100%; height: auto;">
            </div>
            <div class="card-content">
              <h5>Vizin</h3>
                <h6>Founder</h6>
                <p>This is my son, it was 1.5 years of development, seeking partnerships, competing in contests and more
                  than 5,000 users who used to send alerts to their neighbors alerting about threats.</p>
            </div>
          </div>
        </div>
  
      </div>
      <br>
      <br>
  
    </div>
  </div>